*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.logo{
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
}

ul li{
    display: inline-block;
}
.nav-items{

    font-size: 21px;
    text-decoration: none;
    color:black;
    padding: 8px;
}


