*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    z-index: 3;
}

.logo{
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
}

ul li{
    display: inline-block;
}
.nav-items{

    font-size: 21px;
    text-decoration: none;
    color:black;
    padding: 8px;
}

.bottom-left{
    position: absolute;
    left: 0;
    bottom: 0;
    
    
}
.slogan{
    padding: 18px;
    letter-spacing: 2px;
    color: rgba(29, 28, 28, 0.486);
}
.main-content{
    display: flex;
    margin: 0 auto;
    max-width:1100px;
    padding:64px 0px;
}
.table-pic{
    border-radius: 12px;
}
.about-catering{
    padding: 12 40px;
   
}
.catering-title{

    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
    color: rgba(41, 39, 39, 0.842)
    
}
 .catering-desc{
     margin-top: 15px;
     line-height: 1.6;
     font-size: 18px;
 }
 hr{
     width: 80%;
     margin: auto;
 }
 .menu-container{

    padding: 64px 0;
    display: flex;
    width: 1100px;
    margin: 0 auto;
 }
 .menu-name{
     text-align: center;
     color: gray;
     margin-bottom: 35px;
 }
 .menu-title{
     letter-spacing: 2px;
     color: rgb(37, 35, 35);
     margin-bottom: 15px;
 }
.menu-desc{
    margin-bottom: 25px;
}
.menu-pic{
    padding-left: 50px;
}

.menu-pic img{
    border-radius: 9px;
}
.contact-container{
    width: 1100px;
    margin: 0px auto;
    padding: 70px 0;
}

.contact{
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.contact-container p{
    margin-bottom: 15px;
}
.address{
    color: steelblue;
    margin-bottom: 20px;
}
.text-field{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding: 16px;
    margin-bottom: 8px;
}
.btn{
    font-size: 16px;
    padding: 12px 24px;
    background-color: #f1f1f1;
    
}
.btn:hover{
    background-color:grey;
}

footer{
    text-align: center;
    padding: 70px;
    background-color: rgb(153, 152, 152);
    color: white;
}
footer h1,p{
    padding: 10px;
}